<!DOCTYPE html>
<html>
    <head>
        <Title>Weather Widget</Title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <span id="City" hidden><b>{{ city }},</b></span>
        <span id="State" hidden><b>{{ state }}</b></span>
        <span id="Date" hidden><b> {{ date }}</b></span>
        <span id="tempF" hidden><b>{{ tempF }}</b>&#176;F</span>
        <span id="airQ"  hidden><b>{{ airQ }}</b></span>
        <span id="aQLabel" hidden>US AQI</span>
        <span id="iconLabel" hidden><b>{{ iconlabel }}</b></span>
        <span id="icon" hidden>{{ icon }}</span>
        <canvas id="wwCanvas" width="300" height="200" style="border:2px solid black;border-radius: 15px;"></canvas>
        <script>
            var canvas = document.getElementById("wwCanvas");
            var ctx = canvas.getContext("2d");
            var tempf = document.getElementById("tempF");
            var airq = document.getElementById("airQ");
            var aQLabel = document.getElementById("aQLabel");
            var currCity = document.getElementById("City");
            var currState = document.getElementById("State"); 
            var currDate = document.getElementById("Date");
            var ic = document.getElementById("icon");
            ic.style.visibility = "visible";
            ic = ic.innerText;
            airq.style.visibility = "visible";
            airq = airq.innerText;
            aQLabel.style.visibility = "visible";
            aQLabel = aQLabel.innerText;
            tempf.style.visibility = "visible";
            tempf = tempf.innerText;
            currCity.style.visibility = "visible";
            currCity = currCity.innerText;
            currState.style.visibility = "visible";
            currState = currState.innerText;
            currDate.style.visibility = "visible";
            currDate = currDate.innerText;
            ctx.font = "20px Arial";
            ctx.fillText(currCity, 100, 50);
            ctx.fillText(currState, 160, 50);
            ctx.fillText(currDate, 110, 75);
            ctx.fillText(airq, 30, 170);
            ctx.fillText(aQLabel, 10, 190);
            ctx.fillText(tempf, 250, 170);
            ctx.moveTo(150, 100);
            ctx.lineTo(150, 200);
            ctx.stroke();
            ctx.font = '30px "FontAwesome"';
            ctx.fillText(ic, 200, 170);
        </script>
    </body>
</html>